# CCS Build artifacts
Debug/
Release/
*.obj
*.d
*.pp
*.lst
.settings/
.metadata/
.cproject
.project
*.launch
targetConfigs/
ticlang/
.clangd/
.ccsproject
README.html

# IDE & OS files
*.swp
*.swo
.DS_Store
Thumbs.db